<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title>My Travel App</title>
</head>
<body>
    <header>
        <h1>
            Loona
        </h1>
    </header>
    <main>
        <div class="overlay hidden" id="loader">
            <div class="overlay__inner">
                <div class="overlay__content"><span class="spinner"></span></div>
            </div>
        </div>
        <div class="feedback-panel container" id="feedbackpanel">
            <div class="feedback hidden" id="alert">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="feedback-message" id="alert-message">
                    Indicates a dangerous or potentially negative action.
                </div>
            </div>
            <div class="feedback hidden" id="success">
                <i class="fa-solid fa-check"></i>
                <div class="feedback-message" id="success-message">
                    Indicates a dangerous or potentially negative action.
                </div>
            </div>
        </div>
        <div class="container" id="trip-search">
            <form onsubmit="Client.searchNewTrip()">
                <h3>
                    Where would you like to go next?
                </h3>
                <div class="trip-search-form-inputs">
                    <div class="form-input">
                        <label for="destination">Destination</label>
                        <input id="destination" name="destination" placeholder="Your dream destination..." required type="text">
                    </div>
                    <div class="form-input">
                        <label for="searchdate">Date</label>
                        <input id="searchdate" name="date" placeholder="Your date" required type="date">
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Search
                    </button>
                </div>
            </form>
        </div>
        <section class="container" id="new-trip">

        </section>
        <section class="container" id="trip-entries">

        </section>
    </main>
    <footer>
        <p>This app is build by Mehtrick for udacity</p>
    </footer>
</body>
</html>