@import "template";


.feedback-panel {
  width: 100%;
  justify-content: center;
}

.feedback {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 20px;
}

.message {
  margin-left: 5px;
  text-align: center;
  width: 100%;
}

#alert {
  background-color: $error-color;
}

#success {
  background-color: green;
}