$primary-color: #1D3557;
$secondary-color: #457B9D;
$accent-color: #e63946;
$third-color: #f1faee;
$background-color: #A8DADC;
$loader-overlay-color: #222222;

$error-color: #cc0000;

$font-color: #262f38;
$font-family: "native font stack", sans-serif;


.accent{
  color: $accent-color;
}

.error{
  color: $error-color;
}

.outlined{
  background-color: white;
  border: solid 1px;
}